h2 {
    padding: 10px;
}

.fixture {
    padding-right: 65px;
    padding-bottom: 20px;
    display: block;
    align-items: center;
    text-align: center;
}

article {
    padding-bottom: 30px;

    ul {
        ul {
            li {
                font-weight: 500;
                list-style-type: none;
                color: white;

                &:hover {
                    background-color: rgb(60, 7, 109);
                    box-shadow: 0 0 1rem black;
                }
            }
        }
    }
}



@media (min-width: 500px){
    .fixture{
        display:flex;
        justify-content: space-around;
        align-items: baseline;
    }
}

@media (min-width:880px) {
    .fixture{
        display: flex;
        justify-content: space-around;
        text-align: left;
    }
}
