footer{
    background-color: rgb(60, 7, 109);
    background-image: url(../assets/images/ESCUDO-KIKINES-VECTORIZA-_1_-_1_.png);
    background-position: left;
    background-size: 80px;
    background-repeat: no-repeat;
    padding-top: 10px;
    border-top: solid;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}