.fotos{
    padding: 50px;
    display: grid;
    grid-template-areas: 
    "fotos1"
    "fotos2";
    gap: 30px;
    padding-bottom: 100px;
}

#carrousElexample{
    display: grid;
    grid-area: fotos1;
}

#carrousElexample2{
    display: grid;
    grid-area: fotos2;
}

@media (min-width:1200px) {
    .fotos{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "izquierda derecha";
        padding-bottom: 100px;
    }
    #carrousElexample{
        display: grid;
        grid-area: izquierda;
    }
    
    #carrousElexample2{
        display: grid;
        grid-area: derecha;
    }
}