#carouselExample,
#carouselExample2 {
    padding: 20px;
}

.fotos {
    padding-bottom: 20px;
}

.carousel {
    width: 50% 50%;
}

@media (min-width: 768px) {
    .fotos {
        display: flex;
    }
}