.plantel {
    padding: 10px;
    display: block;
    text-align: center;
}

h3 {
    text-decoration: underline;
    padding: 5px 0px 5px 0px;
}

.plantel ul li {
    list-style-type: none;
    margin: 5px;
    color: white;

    &:hover {
        background-color: rgb(60, 7, 109);
        box-shadow: 0 0 1rem black;
    }
}

@media (min-width: 550px) and (max-width: 1199px) {
    .plantel {
        color: white;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 340px 340px;
        grid-template-areas: "arquero defensor" "medio delantero";
    }
}

@media (min-width: 1200px) {
    .plantel {
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "arquero defensor medio delantero";
        align-items: baseline;
    }
}